@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-n {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: ; */
  font-style: normal;
}

* {
    margin: 0;
    background-color: #f5f8ff;
    font-family: "Inter";
}

.btn-primary {
    background-color: #4E47FF;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
}

.btn-primary:hover{
    background-color: #efc512;
}

.title{
    font-weight: bold;
    font-size: 42px;
}